<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>spider maneiro</title>
</head>
<body>
    
  <div class="container">

    <div class="box">
        <% dados.forEach(i => {  %>
            <div data-aos="fade-up" class="card">
              <h3> <%= i.title %></h3> 
              <p><span>avaliação:</span> <i><%= i.rating %></i> </p>
            </div>
        <%}) %>
    </div>

  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
        
</html>