*{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.title{
    text-align: center;
    margin-top: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 10px 0 70px 0;
}
.card {
    width: 300px;
    height: 20%;
    background-color: rgb(19, 23, 255);
    min-height: 50px;
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.342)!important;
    color: white;
}
.card:hover {
    box-shadow: 0px 0rem 0.5rem rgb(1, 5, 255)!important;
}
.card h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
}